<div> 
  Task <%= "##{task.id}" %>
  &bull;
  <%= task.title %>
  &bull;
  <%= task.description %>
  &bull;
  <%= task.status %>
  &bull;
  <%= link_to "Edit", edit_task_path(task) %>
  &bull;
  <%= button_to "Delete", task_path(task), method: :delete, form: {style: "desplay: inline;"}%>
</div>
